                      .page {
		                background-color : #A8A8A8;
						margin : 0px 0px 0px 0px;
	                               }	
					  .BgContent {
		                background-color : #F75E03;
	                               }			
					    .menu {
				        background-color: #ffffff;
	                               }
			       .menuButton, .menudefault, .menuButton_on {
				        background-color: #575757;
		                font-family : arial;
		                font-size : 8pt;
						font-weight : bold;
						color : #ffffff;
						font-style : normal;
						padding-left: 15px;
						padding-right :15px;
	                               }
					.menuButton {
						background-color: #575757;
					}
					.menuButton_on {
						background-color: #4E8B24;
					}
                    .menudefault{
					background-color: #575757;
					width:25%;
					 }
					.menuright {
						background-color: #575757;
						width:1px;
					}
					.menuright_on {
						background-color: #4E8B24;
						width:1px;
					}
					
					.menuleft {
						background-color: #575757;
						width:1px;
					}
                    .menuleft_on {
						background-color: #4E8B24;
						width:1px;
					}
					.menu_ButtonHeight {
					  background-color : none ;
					   width: 0px;
					   height: 30px;
					}
					.menu_h_space{
					background-color : none ;
					height : 1px;
					}
					.menu a:link, .menu a:active{
					color: #ffffff;
	                text-decoration: none;
					}
					.menu a:hover, .menu a:visited{
					color: #ffffff;
	                text-decoration: none;
					}
					 .body {
					      background-color : none;
						  background-image : none;
				          font-family : arial;
						  font-size : 9pt;
						  font-weight : normal;
						  color : #ffffff;
						  font-style : normal;
						               }
					 .body td {
					      background-color : none;
						  background-image : none;
				          font-family : arial;
						  font-size : 9pt;
						  font-weight : normal;
						  color : #ffffff;
						  font-style : normal;
						               }
					 .footer {
						background-image : none;
				        font-family : arial;
					    font-size : 8pt;
						font-weight : normal;
						font-style : normal;
						color : #ffffff;
						}
					.footer td {
						background-image : none;
				        font-family : arial;
					    font-size : 8pt;
						font-weight : normal;
						font-style : normal;
						color : #ffffff;
						}	
				.edit {
					     background-image: url(img/bg.gif);
						 border: solid 1px #C0C0C0;
						 font-family: arial;
						 font-size: 8pt;
					           }
					.futureLink{
						background: #4B9F67;
						padding: 2px;
						color: #ffffff;
						font-weight: bold;
						text-align: center;
						border: solid 1px #ffffff;
						}	
						a:link, a:visited, a:link{
					    color: #000000;
	                    text-decoration: underline;
						font-weight: bold;
					   }
			           a:hover{
					   color: #000000;
	                   text-decoration: underline;
					   font-weight: bold;
					   }	
					   .signin td
						{
						font-family: arial;
						font-size: 8pt;
						}
					.signin a:link, .signin a:visited, .signin a:link{
					    color: #0000cc;
	                    text-decoration: underline;
					   }
			        .signin a:hover{
					   color: #0000cc;
	                   text-decoration: underline;
					   }	
					 .Header{font-size: 13pt; font-weight: bold;}
					  .toolHeader{color: #37760D;}
					  .toolText {color: #000000; font-size:8pt;}		
					  li {color:#000000; font-weight:bold;}		
					    .divider{background-image: url(img/h_dotline.gif); background-repeat: repeat-x;}